<h1>New Entry for <%= @place&.name || "Unknown Place" %></h1>

<%= form_with(model: @entry, url: "/entries", local: true) do |form| %>
  <!-- Hidden field to associate entry with a place -->
  <%= form.hidden_field :place_id, value: @place.id %>

  <p>
    <%= form.label :title, "Entry Title" %><br>
    <%= form.text_field :title, name: "title", required: true %>
  </p>

  <p>
    <%= form.label :description, "Description" %><br>
    <%= form.text_area :description, name: "description", required: true %>
  </p>

  <p>
    <%= form.label :posted_on, "Date" %><br>
    <%= form.date_field :posted_on, name: "posted_on", required: true %>
  </p>

  <p>
    <%= form.submit "Save Entry" %>
  </p>
<% end %>

<%= link_to "Back to Place", "/places/#{@place.id}" %>
