<h1><%= @place.name %></h1>

<h2>Journal Entries</h2>
<ul>
  <% if @entries.any? %>
    <% @entries.each do |entry| %>
      <li>
        <strong><%= entry.title %></strong> - 
        <%= entry.posted_on.present? ? entry.posted_on.strftime("%B %d, %Y") : "No date provided" %>
        <p><%= entry.description %></p>
      </li>
    <% end %>
  <% else %>
    <p>No journal entries yet.</p>
  <% end %>
</ul>


<%= link_to "Add New Entry", new_place_entry_path(@place) %>
<br>
<%= link_to "Back to Places", "/places" %>
